h1 {
  color: var(--darkgray);
  font-family: "Fraunces", serif;
}

h3 {
  font-family: "Barlow", sans-serif;
  color: var(--mediumgray);
}

.container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 39.0625rem;
}

img {
  max-width: 100%;
}

.img-col {
  width: 50.2%;
  height: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

.text-col {
  flex-basis: 50%;
}

#brand1 {
  font-size: 36px;
  position: absolute;
  top: 130px;
  left: 105px;
}

#subtitle1 {
  width: 69%;
  line-height: 1.6;
  margin-left: 105px;
  margin-top: 250px;
}

#yellow {
  text-decoration: none;
  color: var(--darkgray);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
  position: absolute;
  top: 390px;
  left: 105px;
  font-family: "Fraunces",
    serif;
}

#yellow::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -8px;
  width: 115%;
  height: 0.7rem;
  background: var(--lightyellow);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s ease-out;
}

#yellow:hover::before {
  background: var(--yellow);
}

.img-col2 {
  position: absolute;
  top: 563px;
  width: 50%;
}

.text-col2 {
  flex-basis: 50%;
  position: absolute;
  top: 600px;
  left: 800px;
}

#brand2 {
  font-size: 36px;
  position: absolute;
  top: 100px;
  left: -30px;
  word-break: break-all;
  width: 400px;
}

#subtitle2 {
  width: 85%;
  line-height: 1.6;
  margin-left: -30px;
  margin-top: 220px;
}

#pink {
  text-decoration: none;
  color: var(--darkgray);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
  position: absolute;
  top: 360px;
  left: -28px;
  font-family: "Fraunces",
    serif;
}

#pink::before {
  content: "";
  margin-top: 1px;
  margin-left: 0;
  width: 115%;
  height: 0.7rem;
  background: var(--lightpink);
  z-index: -1;
  border-radius: 0.5rem;
  transition: 0.35s ease-out;
}

#pink:hover::before {
  background: var(--pink);
}

.img-text-col3 {
  flex-basis: 50%;
  position: absolute;
  top: 1124px;
  width: 50%;
}

#brand3 {
  color: var(--darkgreen);
  position: absolute;
  bottom: 190px;
  left: 260px;
}

#subtitle3 {
  color: var(--darkgreen);
  position: absolute;
  top: 410px;
  left: 150px;
  width: 61%;
  text-align: center;
  line-height: 1.6;
}

.img-text-col4 {
  flex-basis: 50%;
  position: absolute;
  top: 1124px;
  right: 0;
  width: 50%;
}

#brand4 {
  color: var(--darkblue);
  position: absolute;
  bottom: 190px;
  left: 260px;
}

#subtitle4 {
  color: var(--mediumblue);
  position: absolute;
  top: 410px;
  left: 150px;
  width: 61%;
  text-align: center;
  line-height: 1.6;
}