/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

@import url("hero.css");
@import url("photo.css");

:root {
  --darkgreen: #21564a;
  --mediumgreen: #407d6e;
  --lightgreen: #90d4c5;
  --lightyellow: #fff0bc;
  --darkgray: #23313d;
  --darkmediumgray: #626365;
  --mediumgray: #a9a9a9;
  --mediumlightgray: #c8c7c5;
  --lightgray: #ebe8e7;
  --white: #fff;
  --darkblue: #1b506e;
  --mediumblue: #0d5778;
  --lightestblue: #6fcfff;
  --lightblue: #3dbeff;
  --lightpink: #feded2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.nav-container {
  width: 100%;
  background: var(--lightblue);
  padding-bottom: 1.875rem;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 5rem;
  width: 90%;
  max-width: 107.5rem;
  margin-right: 0;
}

#navbar-logo {
  color: var(--white);
  justify-self: start;
  margin-left: 1.25rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
  position: absolute;
  right: 0;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

.nav-links:hover {
  color: var(--darkgray);
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: var(--white);
  color: #000;
  font-family: "Fraunces", serif;
  padding: 0.9375rem 1rem;
  border-radius: 1.875rem;
}

.nav-links-btn:hover {
  background-color: var(--lightestblue);
  color: var(--white);
  padding: 0.9375rem 1rem;
  border-radius: 1.875rem;
  transition: all 0.3s ease-out;
}

.menu-toggle .bar {
  width: 1.5625rem;
  height: 0.1875rem;
  margin: 0.3125rem auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

/* Nav-menu responsive */

@media screen and (max-width: 48em) {
  .nav-container {
    position: relative;
    z-index: 1000;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--lightgray);
    margin: 0;
    align-content: center;
    width: 92%;
    position: absolute;
    top: 6.5625rem;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 1.25rem;
    width: 6.25rem;
  }

  .nav-menu.active {
    background: var(--lightgray);
    left: 1.25rem;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active:after {
    content: "";
    position: absolute;
    margin: 12.8125rem;
    bottom: 2.0625rem;
    left: 9.1875rem;
    width: 3.125rem;
    height: 3.125rem;
    background: var(--lightgray);
    clip-path: polygon(30px 0, 100% 0, 100% 100%, 0 100px, 50px 0);
  }

  .nav-links {
    text-align: center;
    color: var(--darkmediumgray);
    line-height: 3.75rem;
    width: 100%;
    display: table;
    font-weight: bold;
    font-family: sans-serif;
  }

  .nav-links-btn {
    color: #000;
    background-color: #fbd601;
    padding: 0.125rem 0.4375rem;
    border-radius: 1.875rem;
    transition: all 0.4s ease-out;
    font-weight: bolder;
    width: 9.375rem;
    transform: translateX(90%);
  }

  .nav-links-btn:hover {
    padding: 0.125rem 0.4375rem;
    border-radius: 1.875rem;
  }

  #mobile-menu {
    position: absolute;
    top: 14%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }
}