/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Poppins:wght@700&family=Fraunces:wght@700;900&display=swap");

:root {
  /* Primary */

  --Soft-red: hsl(7, 99%, 70%);
  --Lightpink: hsl(11.2, 78.2%, 89.2%);
  --Yellow: hsl(51, 100%, 49%);
  --Lightyellow: hsl(47.1, 100%, 87.3%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(166.8, 44.2%, 69.8%);
  --Lightblue: hsl(200.1, 100%, 62%);
  --Lightestblue: hsl(200, 100%, 71.8%);
  --Purple: hsl(228, 45%, 44%);

  /* Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h2 {
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
}

h3 {
  color: var(--Grayish-blue);
  font-family: "Barlow", sans-serif;
}

h4 {
  color: var(--Dark-grayish-blue);
  font-family: "Barlow", sans-serif;
  position: absolute;
  top: 18.6rem;
  width: 170%;
}

a {
  text-decoration: none;
}

p {
  color: var(--Grayish-blue);
  font-family: "Barlow", sans-serif;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-right: 0 auto;
  max-width: 95.5rem;
  width: 89%;
  height: 4.4rem;
}

#navbar-logo {
  justify-self: start;
  margin-bottom: 0.83rem;
  margin-left: 1.1rem;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-self: end;
  text-align: center;
  width: 60%;
  list-style: none;
}

.nav-links {
  color: var(--White);
  font-family: "Barlow", sans-serif;
  position: relative;
  left: 3.3rem;
  cursor: pointer;
}

.nav-links:hover,
.nav-links-btn {
  color: var(--Very-dark-desaturated-blue);
}

.nav-links:hover {
  transition: all 0.2s ease-out;
}

.nav-links-btn,
.nav-links-btn:hover {
  padding: 0.83rem 0.5rem;
  border-radius: 1.66rem;
}

.nav-links-btn {
  background-color: var(--White);
  font-family: "Fraunces", serif;
  font-size: 0.7rem;
  position: absolute;
  top: 1.1rem;
  right: 1.666rem;
  width: 7%;
  cursor: pointer;
}

.nav-links-btn:hover,
.menu-toggle .bar {
  transition: all 0.3s ease-in-out;
}

.nav-links-btn:hover {
  color: var(--White);
  background-color: var(--Lightestblue);
}

.menu-toggle .bar {
  background: var(--White);
  margin: 0.27rem auto;
  width: 1.38rem;
  height: 0.16rem;
}

/* Hero section */
#main-img,
#headline,
#arrow {
  position: absolute;
}

.mobile-hero-img {
  display: none;
}

#main-img {
  background-size: cover;
  bottom: 0;
  z-index: -1;
}

#headline {
  color: var(--White);
  font-family: "Fraunces", serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.71rem;
  text-transform: uppercase;
  position: absolute;
  top: 5.555rem;
  left: 15.277rem;
  z-index: 100;
}

#arrow {
  top: 12.7rem;
  left: 36.1rem;
  height: 5rem;
}

/* Feature section */
.feature-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 34.7rem;
}

.text-col {
  position: relative;
  top: -1.666rem;
  width: 37.2rem;
  height: 30.5rem;
}

.sub-headline-1,
.sub-headline-2,
.sub-headline-3,
.sub-headline-4 {
  position: absolute;
  width: 22.2rem;
}

.sub-headline-1 {
  font-size: 2rem;
  top: 7.2rem;
  left: 5.8rem;
}

.sub-headline-description-1 {
  line-height: 1.6;
  margin-left: 5.8rem;
  margin-top: 13.3rem;
  width: 70%;
}

#yellow,
#pink {
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
}

#yellow {
  top: 21.1rem;
  left: 5.8rem;
}

#yellow::before,
#pink::before {
  content: "";
  position: absolute;
  top: 0.72rem;
  left: -0.44rem;
  width: 115%;
  height: 0.62rem;
  border-radius: 0.44rem;
  transition: 0.35s ease-out;
  z-index: -1;
}

#yellow::before {
  background: var(--Lightyellow);
}

#yellow:hover::before {
  background: var(--Yellow);
}

.img-col {
  width: 37.72rem;
}

.img-col2,
.text-col2,
.img-text-col,
.img-text-col2 {
  position: absolute;
}

.img-col2 {
  top: 31.4rem;
  width: 49.65%;
}

.text-col2 {
  top: 33.33rem;
  left: 44.44rem;
}

.sub-headline-2 {
  font-size: 2rem;
  word-break: break-all;
  top: 5.55rem;
  left: -1.6rem;
}

.sub-headline-description-2 {
  line-height: 1.6;
  margin-left: -1.6rem;
  margin-top: 12.5rem;
  width: 85%;
}

#pink {
  top: 19.4rem;
  left: -1.5rem;
}

#pink::before {
  background: var(--Lightpink);
}

#pink:hover::before {
  background: var(--Soft-red);
}

.img-text-col {
  top: 62.3rem;
  width: 37.72rem;
}

.mobile-img-1,
.mobile-img-4 {
  display: none;
}

.sub-headline-3,
.sub-headline-description-3 {
  color: var(--Dark-desaturated-cyan);
}

.sub-headline-3,
.sub-headline-4 {
  font-size: 1.5rem;
}

.sub-headline-3 {
  bottom: 10.5rem;
  left: 13.8rem;
}

.sub-headline-description-3,
.sub-headline-description-4 {
  position: absolute;
}

.sub-headline-description-3 {
  text-align: center;
  line-height: 1.6;
  top: 22.7rem;
  left: 7.7rem;
  width: 61%;
}

.img-text-col2 {
  top: 62.3rem;
  right: 0;
  width: 37.7rem;
}

.sub-headline-4,
.sub-headline-description-4 {
  color: var(--Dark-blue);
}

.sub-headline-4 {
  bottom: 10.5rem;
  left: 14.4rem;
}

.sub-headline-description-4 {
  text-align: center;
  line-height: 1.6;
  top: 22.7rem;
  left: 8.3rem;
  width: 61%;
}

/* Client testimonials section */
.testimonials {
  position: absolute;
  top: 111.1rem;
  width: 100%;
}

#client-title {
  color: var(--Grayish-blue);
  font-family: "Fraunces", serif;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
  position: absolute;
  top: 24.4rem;
  left: 28.888rem;
}

.testimonial-section-1,
.testimonial-section-2,
.testimonial-section-3 {
  position: absolute;
  top: 31.1rem;
}

.testimonial-section-1 {
  left: 8.3rem;
}

.testimonial-section-2 {
  left: 33.3rem;
}

.testimonial-section-3 {
  left: 57.7rem;
}

.profile-img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.testimonial-content {
  color: var(--Very-dark-grayish-blue);
  font-family: "Barlow", sans-serif;
  line-height: 1.6;
  text-align: center;
  position: absolute;
  top: 8.3rem;
  left: -5rem;
  width: 19.7rem;
  height: 17.7rem;
}

.profile-img-1,
.profile-img-2,
.profile-img-3 {
  position: relative;
  left: 2.2rem;
}

.name {
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  position: absolute;
  top: 16.6rem;
  left: 0.61rem;
  width: 100%;
}

.name1,
.name2,
.name3 {
  position: absolute;
}

.name1,
.name3 {
  left: 3.05rem;
}

.name2 {
  left: 2.5rem;
  width: 6.1rem;
}

.title-1 {
  left: 1.6rem;
}

.title-2 {
  left: 0.83rem;
  width: 10.27rem;
}

.title-3 {
  left: 2.2rem;
}

/* Gallery section */
.photos {
  display: flex;
  position: absolute;
  top: 172.22rem;
  width: 100%;
}

.gallery-title {
  display: none;
  visibility: none;
}

.gallery {
  width: 50%;
}

/* Footer section */
footer,
#footer-title,
.attribution {
  position: absolute;
}

footer {
  display: flex;
  background-color: var(--Dark-moderate-cyan);
  top: 194.4rem;
  width: 100%;
  height: 50%;
}

#footer-title {
  color: var(--Dark-desaturated-cyan);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  top: 3.3rem;
  left: 32.7rem;
}

.footer-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
}

.Links,
.social-icons i {
  position: relative;
  transition: 0.35s ease-out;
  cursor: pointer;
}

.Links {
  color: var(--Dark-desaturated-cyan);
  font-family: "Barlow", sans-serif;
  margin-left: 2.7rem;
  top: 7.7rem;
  left: 4.4rem;
  list-style: none;
}

.Links:hover {
  color: var(--White);
}

.social-icons i {
  color: var(--Dark-desaturated-cyan);
  font-size: 1.15rem;
  top: 13.3rem;
  right: 32.7rem;
  margin-left: 1.6rem;
}

.social-icons i:hover {
  color: var(--White);
}

/* Mobile media query */
@media (max-width: 375px) {
  .nav-container {
    position: relative;
    z-index: 1000;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--Grayish-blue);
    margin: 0;
    position: absolute;
    top: 5.83rem;
    left: -100%;
    width: 89%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 1.1rem;
    width: 5.5rem;
    height: 1.38rem;
  }

  .nav-menu.active {
    background: var(--White);
    padding-top: 6.1rem;
    left: 1.1rem;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active:after {
    background: var(--White);
    content: "";
    clip-path: polygon(1.66rem 0, 100% 0, 100% 100%, 0 5.55rem, 2.77rem 0);
    position: absolute;
    bottom: 3.61rem;
    left: 4.5rem;
    margin: 11.38rem;
    width: 2.7rem;
    height: 2.7rem;
  }

  .nav-links {
    display: table;
    color: var(--Grayish-blue);
    font-family: sans-serif;
    font-weight: bold;
    line-height: 3.33rem;
    margin-left: -3.33rem;
    bottom: 5rem;
    width: 100%;
  }

  .nav-links-btn,
  .nav-links-btn:hover {
    padding: 1.11rem 0.5rem;
    border-radius: 1.66rem;
  }

  .nav-links-btn {
    color: var(--Very-dark-desaturated-blue);
    background-color: var(--Yellow);
    font-weight: bolder;
    position: absolute;
    top: 11.6rem;
    left: -2.33rem;
    width: 8.33rem;
    transform: translateX(90%);
    transition: all 0.4s ease-out;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar,
  .menu-toggle:hover {
    display: block;
    cursor: pointer;
  }

  /* Hero section */
  .mobile-hero-img,
  #headline,
  #arrow {
    position: absolute;
  }

  #main-img {
    display: none;
  }

  .mobile-hero-img {
    display: block;
    top: 0;
  }

  #headline {
    font-size: 2.11rem;
    top: 7.7rem;
    left: 0.27rem;
  }

  #arrow {
    top: 16.5rem;
    left: 9.4rem;
    height: 10%;
    z-index: 50;
  }

  /* Feature section */
  .feature-container {
    width: 100%;
  }

  .img-col,
  .text-col {
    position: absolute;
  }

  .img-col {
    top: -4.83rem;
    width: 20.83rem;
  }

  .text-col {
    text-align: center;
    top: 10rem;
    left: -4.4rem;
    width: 100%;
  }

  .sub-headline-1,
  .sub-headline-2,
  .sub-headline-3,
  .sub-headline-4 {
    position: absolute;
  }

  .sub-headline-1 {
    word-break: break-all;
    left: 6.5rem;
    width: 16.6rem;
  }

  .sub-headline-description-1,
  .sub-headline-description-2,
  .sub-headline-description-3,
  .sub-headline-description-4 {
    position: absolute;
  }

  .sub-headline-description-1 {
    text-align: center;
    left: -0.5rem;
    width: 19.4rem;
  }

  #yellow {
    position: absolute;
    top: 23.3rem;
    left: 11.38rem;
  }

  .img-col2 {
    margin-top: 7.7rem;
    width: 20.83rem;
  }

  .text-col2 {
    text-align: center;
    top: 55rem;
    left: 0.5rem;
    width: 21.38rem;
  }

  .sub-headline-2 {
    left: 1.94rem;
    width: 75%;
  }

  .sub-headline-description-2 {
    left: 2.2rem;
  }

  #pink {
    position: absolute;
    top: 22.5rem;
    left: 6.1rem;
  }

  .img-text-col,
  .img-text-col2 {
    position: absolute;
  }

  .img-text-col {
    top: 83.3rem;
    width: 20.83rem;
  }

  #img3,
  #img4 {
    display: none;
  }

  .mobile-img-1,
  .mobile-img-4 {
    display: block;
    position: absolute;
  }

  .mobile-img-4 {
    top: -0.5rem;
  }

  .sub-headline-3 {
    font-size: 1.94rem;
    top: 21.6rem;
    left: 3.05rem;
  }

  .sub-headline-description-3 {
    font-size: 0.83rem;
    top: 25.5rem;
    left: 1.38rem;
    width: 18.3rem;
  }

  .img-text-col2 {
    top: 105.61rem;
    left: 3.5rem;
    width: 20.83rem;
  }

  .mobile-img-1 {
    top: 10.5rem;
    left: -3.5rem;
  }

  .sub-headline-4 {
    font-size: 1.94rem;
    top: 32.7rem;
    left: 0.27rem;
  }

  .sub-headline-description-4 {
    font-size: 0.83rem;
    top: 36.6rem;
    left: -2.5rem;
    width: 18.3rem;
  }

  /* Testimonials section */
  .testimonials {
    position: absolute;
    top: 166.6rem;
    left: -1.6rem;
    width: 20.5rem;
  }

  #client-title {
    font-size: 1rem;
    position: absolute;
    top: 20.5rem;
    left: 2.7rem;
    width: 19.4rem;
  }

  .testimonial-section-1,
  .testimonial-section-2,
  .testimonial-section-3 {
    position: absolute;
  }

  .testimonial-section-1 {
    top: 26.6rem;
    left: 9.4rem;
  }

  .testimonial-content {
    position: relative;
  }

  .testimonial-content-1,
  .testimonial-content-2,
  .testimonial-content-3 {
    position: absolute;
  }

  .name1,
  .name2,
  .name3 {
    position: absolute;
  }

  .title-1,
  .title-2,
  .title-3 {
    position: absolute;
  }

  .profile-img-1,
  .profile-img-2,
  .profile-img-3 {
    position: relative;
  }

  .profile-img-1 {
    top: -1.1rem;
    left: 0.5rem;
  }

  .testimonial-content-1 {
    top: 6.6rem;
    left: -6.1rem;
    width: 17.7rem;
  }

  .name1 {
    top: 13.3rem;
    left: 0.83rem;
  }

  .title-1 {
    top: 15.27rem;
    left: -0.83rem;
  }

  .testimonial-section-2 {
    top: 44.4rem;
    left: 7.5rem;
  }

  .profile-img-2 {
    top: 2.7rem;
    left: 1.83rem;
  }

  .testimonial-content-2 {
    text-align: center;
    margin-top: 2.2rem;
    margin-left: 0;
    width: 18.8rem;
  }

  .name2 {
    margin-top: 1.94rem;
    margin-left: -0.83rem;
  }

  .title-2 {
    margin-top: 1.94rem;
    margin-left: -1.1rem;
  }

  .testimonial-section-3 {
    top: 69.4rem;
    left: 10rem;
  }

  .profile-img-3 {
    left: 0;
  }

  .testimonial-content-3 {
    left: -7.2rem;
    width: 18.8rem;
  }

  .name3 {
    top: 14.72rem;
    left: 0;
  }

  .title-3 {
    top: 16.6rem;
    left: -0.94rem;
  }

  /* Gallery section */
  .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 87.77rem;
  }

  .gallery {
    width: 50%;
  }

  /* Footer section */
  footer {
    margin-top: 91.4rem;
  }

  #footer-title,
  .attribution {
    position: absolute;
  }

  #footer-title {
    top: 2.7rem;
    left: 5.83rem;
  }

  .Links,
  .social-icons i {
    position: relative;
  }

  .Links {
    top: 7.2rem;
    left: 0;
  }

  .social-icons {
    min-width: 0;
    width: 50%;
    min-height: 0;
  }

  .social-icons i {
    display: ruby-text;
    top: 11.1rem;
    left: -15rem;
    margin-left: 1.6rem;
  }
}

/* Desktop media query */
@media (min-width: 1440px) {
  .nav-container,
  .nav-links-btn {
    position: absolute;
  }

  .nav-menu {
    margin-left: 30rem;
  }

  .nav-links-btn {
    left: 71.666rem;
  }

  /* Hero section */
  #main-img {
    position: absolute;
  }

  #headline,
  #arrow {
    position: absolute;
  }

  #headline {
    top: 11.111rem;
    left: 18.333rem;
  }

  #arrow {
    top: 17.5rem;
    left: 38.8rem;
    height: 15%;
  }

  /* Feature section */
  .feature-container {
    position: absolute;
    top: 44.4rem;
    left: 2.77rem;
  }

  .sub-headline-1 {
    font-size: 2.2rem;
  }

  .sub-headline-description-1 {
    width: 25.5rem;
  }

  #yellow {
    position: absolute;
    top: 22.7rem;
  }

  .text-col,
  .sub-headline-description-1 {
    position: relative;
  }

  .text-col {
    left: -1.1rem;
  }

  .sub-headline-1 {
    position: absolute;
    top: 6.6rem;
  }

  .sub-headline-description-1 {
    top: 1.6rem;
  }

  .img-col {
    position: relative;
    bottom: 2.18rem;
    right: -10px;
    width: 53.4%;
  }

  .img-col2,
  .text-col2 {
    position: absolute;
  }

  .img-col2 {
    top: 31.111rem;
    left: -2.75rem;
    width: 52.3%;
  }

  .text-col2 {
    top: 37.2rem;
    left: 47.2rem;
  }

  .img-text-col,
  .img-text-col2,
  .sub-headline-description-3,
  .sub-headline-description-4 {
    position: absolute;
  }

  .img-text-col {
    top: 1160px;
    left: -2.777rem;
    width: 53.5%;
  }

  .sub-headline-description-3 {
    top: 25rem;
  }

  .img-text-col2 {
    top: 64.444rem;
    right: -0.9444rem;
    width: 53%;
  }

  .sub-headline-description-4 {
    top: 25rem;
    width: 21.38rem;
  }

  /* Client testimonials section */
  .testimonials {
    position: absolute;
    top: 130.55rem;
  }

  #client-title {
    font-size: 1.2rem;
    position: relative;
    top: 22.222rem;
    left: 26.666rem;
  }

  /* Gallery section */
  .photos {
    position: absolute;
    top: 188.88rem;
  }

  /* Footer section */
  footer,
  #footer-title {
    position: absolute;
  }

  footer {
    top: 213.72rem;
  }

  #footer-title {
    left: 35rem;
  }

  .Links,
  .social-icons i {
    position: relative;
  }

  .Links {
    left: 4.16rem;
  }

  .social-icons i {
    right: 35.5rem;
  }
}
