.testimonials {
    background-color: var(--lightgray);
    width: 100%;
    position: absolute;
    top: 2000px;
}

.client-text {
    color: var(--mediumgray);
    font-family: "Fraunces",
        serif;
    position: absolute;
    top: 470px;
    left: 450px;
    text-transform: uppercase;
    letter-spacing: 0.5ch;
}

.testimonial1 {
    position: absolute;
    top: 560px;
    left: 150px;
}

.testimonial2 {
    position: absolute;
    top: 560px;
    left: 600px;
}

.testimonial3 {
    position: absolute;
    top: 560px;
    left: 1050px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.main-content {
    color: var(--mediumgray);
    font-family: "Barlow",
        sans-serif;
    line-height: 1.6;
    width: 310px;
    height: 320px;
    position: absolute;
    top: 150px;
    left: -90px;
    text-align: center;
}

.name {
    color: var(--darkgray);
    font-family: "Fraunces",
        serif;
    position: absolute;
    top: 300px;
    left: 11px;
    width: 100%;
}

.title {
    color: var(--mediumlightgray);
    font-family: "Barlow",
        sans-serif;
    position: absolute;
    top: 335px;
    left: -5px;
    width: 170%;
}